!!! 5
%html
  %head
    %meta{charset:'utf-8'}
    %title Code &amp; Design
    %style
      = scss :style, style: :compressed
  %body
    .decoration
      - 25.times do
        %hr
    .container
      %h1 Code &amp; Design
      %p
        Aggregated news from
        %a{href:'http://news.ycombinator.com'} Hacker News
        and
        %a{href:'https://news.layervault.com'} Designer News.
      %section.feeds
        - @items.each_with_index do |item,index|
          %article{class: item.from}
            %header
              %b.number= index+1
              %a.article{href: (item.link_to_article)}= item.title
              %span.link-host= item.link_host
            %a.comments{href: item.link_to_comments }Comments
            %a.tweet{href: '#tweet', data: { tweet: item.tweet }}Tweet
            %a{href:'https://getpocket.com/save', class: 'pocket-btn', data: { lang: 'en', save_url: item.link_to_article, pocket_count: 'none', pocket_align: 'left' }}
              Pocket
            = haml :pocket
    %footer
      %small
        Build by
        %a{href:'http://jamesduncombe.com'}JD
        \-
        Feeds:
        %a{href:'/feed.json'}JSON
        or
        %a{href:'/feed.xml'}XML
        \-
        %a{href:'https://github.com/jamesduncombe/codendesign'}GitHub


    :javascript
      document.querySelector('.feeds').addEventListener('mousedown', function(e) {
        if (e.target.hash === '#tweet') {
          e.preventDefault();
          alert(e.target.dataset.tweet);
        }
      }, false);

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-9765692-15', 'codendesign.co');
      ga('send', 'pageview');
